/* Applicable to all pages */

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Gelasio', serif;
    margin: 0;
}


header {
    background-color: #2c3b94;
    color: whitesmoke;
    justify-content: space-around;
    padding: .1em 1em;

}

nav {
    align-self: center;
    font-size: 1.1rem;
}

ul li a{
    text-decoration: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a {
    color: whitesmoke;
}

.primary-navigation a:hover,
.primary-navigation a:focus{
    text-decoration: underline;
    font-weight: 500;
}

.logo {
    text-align: center;
    margin: 1em 0 .25em 0;
}

.logo-top {
    font-size: 4rem;
    margin: 0;
    padding: 0;  
    line-height: 75%; 
}

.logo-bottom{
    margin: 0;
    padding: 0;
}

.logo a {
    text-decoration: none;
    color: whitesmoke;
}

.mobile-nav-hamburger {
    display: none;
}

.flex {
    display: flex;
    gap: 2rem;
}

.sr-only {
    visibility: hidden;
}

footer {
    text-align: center;
    padding: 1.75em 0 1em 0;
    position: absolute;
    width: 100%;
    background: #2c3b94;
    color: whitesmoke;
}

.city {
    margin-bottom: 0.5em;
    margin-top: .25em;
}

.socials-container {
    color: #2c3b94;
    margin-top: 1em;
}

.social-icons {
    margin: .75em;
}



/*For index.html*/

#alert {
    text-align: center;
    text-transform: uppercase;
    background-color: red;
    color: whitesmoke;
    font-size: 2rem;
    padding: 0.25em;
    display: none;
}

.main-image {
    width: 100%;
    height: auto;
    opacity: 0.5;
    max-height: 250px;
    background-size: cover;
}

.recent-news {
    padding-bottom: 1.25em;
}

.news-header{
    text-align: center;
    margin: 0.5em 0;
    color: #2c3b94;
    font-size: 2.5rem;
}

.news-stories{
    color: #2c3b94;
    margin: auto;
    text-align: center;
    flex-direction: column;
    width: 75%;
}

.headline {
    margin-bottom: .5em;   
}

.news-writeup{
    line-height: 1.5rem;
    letter-spacing: .1rem;  
}

.contact-us {
    background-color: #2c3b94;
    color: whitesmoke;
    padding: .5em 0;
    text-align: center;
    font-size: 1.15rem;
}

.become-member {
    font-size: 2rem;
    padding: 0.5em 0;
}

.contact-us {
    margin: auto;
}

.call-to-action {
    max-width: 90%;
    margin: auto;
}

.contact-us a {
    color: whitesmoke;
    display: inline-block;
    margin: 1em 0 0.5em 0;
}

.contact-us a:hover,
.contact-us a:active {
    color: #595f14;
}


/*contact.html*/

form {
    color: #2c3b94;
    padding-bottom: 1.5em;
}

label {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0.25em;
    font-weight: 500;
}

label,
input,
select,
textarea {
    display: inline-block;
    width: 85%;
}

input,
select,
textarea {
    border-radius: 5px;
    padding: 1em;
    background-color: whitesmoke;
}

.contact {
    text-align: center;
}

.instructions {
    color: #2c3b94;
    max-width: 90%;
    margin: auto;
    padding: 1em 0 0.5em 0;
}

.instructions h2 {
    margin-top: 1em;
}

.send-contact-form-btn {
    width: 60%;
    margin-top: 1em;
    padding: .75em 0;
    font-size: 1.25rem;
    background-color: #2c3b94;
    font-weight: 500;
    letter-spacing: .15em;
    border: none;   
    color: whitesmoke;
}

.send-contact-form:hover,
.send-contact-form:active {
    background-color: #5f1459;
    font-weight: 700;
}



/* courses.html */

.courses-header {
    padding: .25em 0 .25em .5em;
    font-size: 2.5rem;
    color: #2c3b94;
}

.course-links {
    color: #2c3b94;
}

.course-links:hover,
.course-links:focus {
    color: #5f1459;
}

.container-wrapper {
    flex-direction: column;  
    color: #2c3b94;
    padding: 0 .1em 1em .1em;
    width: 90%;
    margin: auto;
}

.course-preview-description{
    line-height: 200%;
    font-size: 1.15rem;
    letter-spacing: 1.25px;
    margin-top: .35em;
}

.course-name {
    margin-bottom: .5em;
}

.course-pic {
    width: 100%;
    height: auto;
    opacity: 0.9;
    max-height: 250px;
    object-fit: fill;
    margin: .5em 0;
}


/*Media queries*/

@media (max-width: 836px) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 20%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: #2c3b94;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 250ms ease-out;
    }

   .logo-top {
    display: none;
   } 

   .logo-bottom {
    font-size: 1.35rem;
    padding-bottom: .25em;
   }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
    
    .mobile-nav-hamburger {
        display: block;
        position: absolute;
        background: transparent;
        background-image: url("/img/square.png");
        background-repeat: no-repeat;
        width: 2rem;
        top: .5rem;
        aspect-ratio: 1 / 1;
        right: 1rem;
        z-index: 2;
        border: 0;
        padding-left: 1em;
    }
}

@media (min-width: 837px) {
      
    /*index.html*/

    .news-stories {
        flex-direction: row;
        gap: 4em;
        width: 90%;
    }

    .headline {
        padding-top: .75em;
    }

    .news-writeup {
        text-align: justify;
        line-height: 2em;
    }

    /*contact.html*/

    .instructions {
        margin-top: .75em;
    }

    .form-container {
        max-width: 900px;
        margin: auto;
    }

    /*courses.html*/

    .courses-header {
        text-align: center;
        padding: 0.5em 0;
    }

    .container-wrapper {
        max-width: 1200px;
        width: 90%;
        flex-direction: row;
        margin: auto;
        gap: 4em;
        margin-bottom: 2em;
    }

    .course-name {
        margin-bottom: .75em;
        display: inline-block;
    }

    .course-pic {
        margin-bottom: .75em;
    }

    .course-preview {
        width: 95%;
    }

    /* ****** If time, find where this margin is being added! ***** */
    .highland {
        margin: 0;
    }

}
