/* Applicable to all pages */

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Gelasio', serif;
    margin: 0;
}


header {
    background-color: #1A145F;
    color: whitesmoke;
    justify-content: space-around;
    padding: .1em 1em;

}

nav {
    align-self: center;
    font-size: 1.1rem;
}

ul li a{
    text-decoration: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a {
    color: whitesmoke;
}

.primary-navigation a:hover,
.primary-navigation a:focus{
    text-decoration: underline;
    font-weight: 500;
}

.logo {
    text-align: center;
    margin: 1em 0 .25em 0;
}

.logo-top {
    font-size: 4rem;
    margin: 0;
    padding: 0;  
    line-height: 75%; 
}

.logo-bottom{
    margin: 0;
    padding: 0;
}

.logo a {
    text-decoration: none;
    color: whitesmoke;
}

.mobile-nav-hamburger {
    display: none;
}

.flex {
    display: flex;
    gap: 2rem;
}

.sr-only {
    visibility: hidden;
}

footer {
    text-align: center;
    padding: 0.5em 0;
}

footer p:nth-child(2) {
    margin-bottom: 0.5em;
    margin-top: .25em;
}

.footer-alt {
    background: #1A145F;
    color: whitesmoke;
}

.socials-container {
    color: #1A145F;
    margin-top: .75em;
}

.social-icons {
    margin: .75em;
}



/*For index.html*/

#alert {
    text-align: center;
    text-transform: uppercase;
    background-color: red;
    color: whitesmoke;
    font-size: 2rem;
    padding: 0.25em;
    display: none;
}

.main-image {
    width: 100%;
    height: auto;
    opacity: 0.5;
    max-height: 250px;
    background-size: cover;
}

.recent-news {
    padding-bottom: 1.25em;
}

.news-header{
    text-align: center;
    margin: 0.5em 0;
    color: #1A145F;
    font-size: 2.5rem;
}

.news-stories{
    color: #1A145F;
    margin: auto;
    text-align: center;
    flex-direction: column;
    width: 75%;
}

.headline {
    margin-bottom: .5em;   
}

.news-writeup{
    line-height: 1.5rem;
    letter-spacing: .1rem;  
}

.contact-us {
    background-color: #1A145F;
    color: whitesmoke;
    padding: .5em 0;
    text-align: center;
    font-size: 1.15rem;
}

.become-member {
    font-size: 2rem;
    padding: 0.5em 0;
}

.contact-us {
    margin: auto;
}

.call-to-action {
    max-width: 90%;
    margin: auto;
}

.contact-us a {
    color: whitesmoke;
    display: inline-block;
    margin: 1em 0 0.5em 0;
}

.contact-us a:hover,
.contact-us a:active {
    color: #595f14;
}


/*contact.html*/

form {
    background-color: #1A145F;
    color: whitesmoke;
    padding-bottom: 1em;
}

label {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

label,
input,
select,
textarea {
    display: inline-block;
    width: 80%;
}

input,
select,
textarea {
    border-radius: 5px;
    padding: .5em;
    background-color: whitesmoke;
}

.contact {
    text-align: center;
}

.contact h1, 
.contact p {
    color: #1A145F;
    padding: .35em .15em .5em .15em;
}

.contact p {
    font-weight: 600;
}

.send-contact-form {
    width: 50%;
    margin-top: 0.75em;
    padding: .65em 0;
    font-size: 1.1rem;
    background-color: #BDCA2B;
    font-weight: 700;
    letter-spacing: .15em;
    border: none;   
    color: #1A145F;
}

.send-contact-form:hover,
.send-contact-form:active {
    background-color: #5f1459;
}

/* courses.html */

.courses-header {
    padding: .25em 0 .25em .25em;
    font-size: 2.5rem;
    color: #1A145F;
}

.container-wrapper {
    flex-direction: column;  
    color: #1A145F;
    padding: 0 .1em .25em .1em;
}

.krape,
.highland {
    margin: auto;
    max-width: 90%;
    margin: auto;
}

.krape p,
.highland p {
    line-height: 160%;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-top: .35em;
}

.course-pic {
    width: 100%;
    height: auto;
    opacity: 0.9;
    max-height: 250px;
    background-size: cover;
    margin-top: .25em;
    border: 1px solid rgb(182, 182, 182);
}


/*Media queries*/

@media (max-width: 836px) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 20%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: #1A145F;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 250ms ease-out;
    }

   .logo-top {
    display: none;
   } 

   .logo-bottom {
    font-size: 1.35rem;
    padding-bottom: .25em;
   }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
    
    .mobile-nav-hamburger {
        display: block;
        position: absolute;
        background: transparent;
        background-image: url("/img/square.png");
        background-repeat: no-repeat;
        width: 2rem;
        top: .5rem;
        aspect-ratio: 1 / 1;
        right: 1rem;
        z-index: 2;
        border: 0;
        padding-left: 1em;
    }
}

@media (min-width: 837px) {
        
    .news-stories {
        flex-direction: row;
        gap: 4em;
        width: 90%;
    }

    .headline {
        padding-top: .75em;
    }

    .news-writeup {
        text-align: justify;
        line-height: 2em;
    }

    .container {
        max-width: 900px;
        margin: auto;
    }
}